<tr>
  <td align="center" style="padding:10px">

    <table border="0" cellpadding="0" cellspacing="0"
           style="text-align:left;width:100%;margin:0 auto;box-sizing:border-box">
      <tbody>
      <tr>
        <td
          style="font-size:12px;font-family:Arial,sans-serif;color:#999;padding-bottom:10px;padding-top:10px">
          This email is for informational purposes only. If you have any inquiries or requests, please feel free to contact us at any time.
        </td>
      </tr>
      <tr>
        <td style="font-size:12px;font-family:Arial,sans-serif;color:#666">
          Sender's Name (Company Name): {{ companyName }}<br>Location: {{ companyAddress }}<br>TEL: {{ companyTel }}, Email: <a
          href="mailto:{{ companyEmail }}" target="_blank">{{ companyEmail }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
