<tr>
  <td align="center" style="padding:10px">

    <table border="0" cellpadding="0" cellspacing="0"
           style="text-align:left;width:100%;margin:0 auto;box-sizing:border-box">
      <tbody>
      <tr>
        <td
          style="font-size:12px;font-family:Arial,sans-serif;color:#999;padding-bottom:10px;padding-top:10px">
          본 메일은 안내용 메일입니다. 문의 사항이나 요청 사항이 있는 경우, 언제든지 연락 주시기 바랍니다.
        </td>
      </tr>
      <tr>
        <td style="font-size:12px;font-family:Arial,sans-serif;color:#666">
          발송자명(업체명): {{ companyName }}<br>소재지: {{ companyAddress }}<br>전화번호: {{ companyTel }}, 이메일: <a
          href="mailto:{{ companyEmail }}" target="_blank">{{ companyEmail }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
